# --- TELEGRAM BOT ---
BOT_TOKEN=TGbot token # from @BotFather
SUPER_ADMINS=user_id of super-admins separated by commas, from telegram, for example: 123456789,987654321
DEFAULT_LANGUAGE =en #ru, en, ar, es, fr, de, it, pt, zh, ja, ko, he - available languahes codes, update via languages.py
# --- DATABASE ---
DB_HOST=your database host #or use "db" if you are using docker-compose
DB_PORT=your database port
DB_USER=your database user
DB_PASSWORD=your database password
DB_NAME=your database name
# --- REDIS ---
REDIS_HOST=your redis host
REDIS_PORT=your redis port
# --- API & PARSING---
OVERPASS_URLS=your overpass urls separated by commas

# --- LOGIC LIMITS ---
REGIONS={Region_name: [City1, City2, ...], ...} #RECOMMENDED: put that list in "config.py" file, because it can be very long and hard to read in .env file. 
LIMITS={"City_name": limit, ... } #RECOMMENDED: put that list in "config.py" file, because it can be very long and hard to read in .env file.
DEFAULT_LIMIT=your default limit for cities not specified in LIMITS